
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f7f8;
  color: #000;
}
.menu-header {
  /* border: solid 2px #000; */
  width: 50%;
  margin: 0 auto;
  
}
h2 {

  text-align: center;
  text-decoration: solid;
  /* margin: 2rem 0; */
  font-size: 2.5rem;
  margin-bottom: .5rem;
}
.underline{
    margin: 0 auto;
    width: 8rem;
    margin-bottom: 8rem;
    border-bottom:solid .3rem burlywood;
}

.btn-box {
 
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.btn {
  width: 6rem;
  height: 2rem;
  align-items: center;
  margin: 0 auto;
  border: solid 2px burlywood;
  border-radius: .4rem;
  color: burlywood;
}
.btn:hover{
    background-color: burlywood;
    color:#f5f7f8;
}
img{
    width: 50%;
    border-radius: .4rem;
    border: solid 4px burlywood;
}
.container{
    grid-template-columns: 2;
    border:solid 2px #000;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
