
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .Breakfast{
    display: block;
 }       
.imgName{
    position: relative;
    /* color: red; */
    left: 55px;
    top: 15px;
}
body {
margin: 2rem;
  font-family: "Roboto", sans-serif;
  background-color: #f5f7f8;
  color: #000;
}
.menu-header {
    
  /* border: solid 2px #000; */
  width: 50%;
  margin: 100px auto;
  margin-bottom: 10px;
  
}
h2 {

  text-align: center;
  text-decoration: solid;
  /* margin: 2rem 0; */
  font-size: 2.5rem;
  margin-bottom: .5rem;
}
.underline{
    margin: 0 auto;
    width: 8rem;
    margin-bottom: 2rem;
    border-bottom:solid .3rem burlywood;
}

.btn-box {
 
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  width: 40%;
}
.btn {
  /* width: 6rem;
  height: 2rem; */
  padding: 0.6rem 1rem;
  align-items: center;
  
  margin-right: 1rem;
  border: solid 2px burlywood;
  border-radius: .4rem;
  color: burlywood;
  background-color:#fff;
}
.btn:hover{
    background-color: burlywood;
    color:#f5f7f8;
}
img{
    margin: 12px;
    width: 200px;
    height: 150px;
    border-radius: .4rem;
    border: solid 4px burlywood;
}
h3{ 
    border-bottom: dotted 1px grey;
    letter-spacing: 2px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.column {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
}
.row{

    /* border:3px solid #000; */
    display: flex;
    
}
.desc{
    /* background-color: beige; */

    padding: 8px;
    /* border: solid 4px blue; */
    /* display: inline-block; */
    
}
.desc p{
    color: grey;
    font-size: 1rem;
}
span{
    color: burlywood;
}

 .Breakfast {
  display:none;
} 
.Lunch{
  display: none;
}
.Shakes{
  display: none;
} 
.Dinner{
  display: none;
}