@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 22px;
}
body {
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1.5rem;
  height: 100vh;
}

 .header {
  
  margin: 0 auto;
  grid-area: header;
  width: 100%;

}
.btnbox-top{
  display: none;
}
.wrapper {
  width: 100%;
  /* max-width: 1200px; */
  /* margin: 4px auto; */
  display: grid;
  grid-gap: 0.5rem;
 
  grid-template-columns: 180px 920px 250px;
  grid-template-areas:
    "sidebar  header "
    "sidebar content"
    "sidebar  footer";
    /* border: 2px solid black; */
}
h1 {
  text-align: center;
  background: -webkit-linear-gradient(rgba(234, 246, 3, 0.597), #f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Bonheur Royale", cursive;
}
.underline {
  margin: 0 auto;
  width: 8rem;
  margin-bottom: 1rem;
  border-bottom: 8px solid rgb(255, 119, 0);
}

h4 {
  text-transform: capitalize;
  border-bottom: dotted 1px grey;
  letter-spacing: 2px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.content {
  width: 920px;
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 16px;
}
.rows{
  display: flex;
  border-radius: 8px;
  width: 450px;
  height: 200px;
  box-shadow: 5px 5px 12px 0.5px rgb(97, 93, 100);
/* border: 2px solid black;  */
}


.photo {
  border-bottom-left-radius: 8px; 
  border-top-left-radius:8px ;
  width: 200px;
  height: 100%; 
}
.desc {

  padding: 8px;
}
.desc p {
  color: grey;
  font-size: .8rem;
}

.price {
  color: burlywood;
}

aside {
  position: fixed;
  display: grid;
  grid-area: sidebar;
  background: rgb(243, 240, 237);
  padding: 30px 0px;
  background: linear-gradient(to right, #fa709a 0%, #fee140f1 190%);
  
}

/* sidebar */

.sidebar-header {
  display: flex;
}
.sidebar-menuBtn{
  height: 48px;
  /* border: 2px solid black; */
  filter:drop-shadow(0px 3px .5px pink);
  margin-right: 8px;
  margin-left: 14px;

}
.sidebar h3 {
  background: -webkit-linear-gradient(rgba(234, 246, 3, 0.597), #f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Bonheur Royale", cursive;
  text-shadow: 1px 1px 2px pink;
}

.sidebar button  {
   display: block;
  font-size: 1rem;
  width: 180px;
  padding: 25px;
  border: none;
  text-shadow: 1px 1px 2px pink;
  background: -webkit-linear-gradient(rgba(234, 246, 3, 0.597), #f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(46, 50, 50, 0.05);
    
}

.sidebar button:hover  {
  cursor: pointer;
  background-color: #594f8d;
  color: #fff;
  padding-right: 18px;
  transition: all 1s ease-out;
}

.sidebar .social_media {
  display: flex;
  margin: 8px 32px;
  
}

.sidebar .social_media a {
  display: block;
  width: 30px;
  background: #594f8d;
  height: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 2px;
  color: #bdb8d7;
  border-radius: 8px;
  box-shadow: 1px 1px 2px .6px rgb(97, 93, 100);
}

footer {
  width: 100%;
  padding: 10px;
  grid-area: footer;
  font-size: .8rem;
  
}

/* Responsive for phone */

  @media (max-width: 412px) {
  
  .content {
    max-width: 356px;
    grid-template-columns: repeat(1, 1fr);
  }
  .wrapper {
  
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 50px 280px 60px;
  grid-template-areas:
    "header  header "
    "content content"
    "footer footer";

} 
.rows{
  width: 340px;
  height: 360px;
  display:block;
}
.photo{
  width: 340px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 8px;
}
aside{
  display: none;
} 
.btnbox-top{
  display: block;
}
.btnbox-top {
  margin: 0 auto;
  margin-bottom: .6rem;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}
.btn {
 
  text-transform: capitalize;
  padding: 0.4rem .4rem;
  align-items: center;
  margin-right: .5rem;
  border: solid 2px burlywood;
  border-radius: 0.4rem;
  color: burlywood;
  background-color: #fff;
}
.btn:hover {
  background-color: burlywood;
  color: #f5f7f8;
}
}

/* .rows{
  display: block;
}

} */

/* Screen larger than 900px? 3 columns */
/* @media (min-width: 900px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}  */
 /* @media (max-width: 599px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    width: 600px;
  }
  .wrapper {
    max-width: 512px;
    margin: 0 auto;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 100%;
    grid-template-areas: " header", "content";
  }
}  */
