
  .main{
            height: 70px;
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0 auto;
            background: #fff;
        }
        .main input{
            width: 20%;
            height: 40%;
        }
        .main p{
            font-size: 1.2rem;
        }
    
